<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h2>Your Tiny URL:</h2>
            <div><%= uri %></div>
            <br>
            <hr>
            <p><%= textObj.code %></p>
        </main>
        <%- include('../includes/end.ejs') %>